* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
.flex {
  display: flex;
  padding-top: 0px;
}
.flex2 {
  display: flex;
  padding-top: 0px;
}
.flex3 {
  display: flex;
  padding-top: 0px;
}
.flex div,
.flex2 div,
.flex3 div {
  background-color: #4b4747;
  margin: 1px;
  padding: 2px;
  font-size: 30px;
}
.li2 {
  cursor: pointer;
}

.btn {
  color: #5f6368;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 30px;
  margin-right: 10px;
}
.btn:hover {
  border: 1px solid#c6c6c6;
  color: #222;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
a .lang {
  color: #1a0dab;
}
ul {
  list-style: none;
}
p {
  margin-top: 30px;
  font-size: small;
}
.navbar {
  float: left;
  top: 0;
  left: 0;
  margin-left: 15px;
}
.header .navbar ul {
  overflow: hidden;
  float: left;
  margin-top: 10px;
  padding: 15px;
  align-items: center;
  display: block;
}
.header .navbar ul li {
  float: left;
  padding: 5px;
  margin-right: 10px;
}

.header .navbar ul li:hover {
  text-decoration: underline;
}

.header .navbar ul li span {
  text-align: center;
  color: #fff;
  background-color: #609;
  padding: 10px;
  margin-right: 0px;
  border-radius: 50%;
  cursor: pointer;
}

/*00000000000000000000000000000000000000000000000000000000000000000000*/
body {
  text-align: center;
}
.body img {
  text-align: center;
  margin-right: 200px;
  margin-top: 180px;
}
.body input {
  width: 570px;
  margin: auto;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  display: block;
  direction: rtl;
  margin-top: 20px;
}
input:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.54);
}
.footer1 {
  padding: 10px;
  width: 100%;
  margin-bottom: 0px;
  padding-right: 30px;
  text-align: right;
}
.footer2 span {
  /* margin-bottom: 10px; */
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding: 10px 5px;
  padding-right: 25px;
  border-top: 1px solid #e4e4e4;
  display: inline-block;

  /* align-items: center; */
}
.footer2 span a,
.footer1 span a {
  display: inline-block;
  margin-left: 20px;
  color: #5f6368;
}
.footer a:hover {
  text-decoration: underline;
}
